In [2]:
errno = 50159747054
name = '문근영'

mini language == grammar

# “Old Style” String Formatting (% operator) = printf

https://docs.python.org/ko/3/library/stdtypes.html#old-string-formatting

여러 가지 일반적인 오류를 (예를 들어 튜플과 딕셔너리를 올바르게 표시하지 못하는 것) 유발하는 다양한 문제점들이 있습니다. 새 포맷 문자열 리터럴나 str.format() 인터페이스 혹은 템플릿 문자열 을 사용하면 이러한 오류를 피할 수 있습니다. 이 대안들은 또한 텍스트 포매팅에 더욱 강력하고 유연하며 확장 가능한 접근법을 제공합니다.

In [3]:
'Hello, %s' % name

'Hello, 문근영'

In [4]:
'%x' % errno

'badc0ffee'

In [5]:
'Hey %s, there is a 0x%x error!' %(name, errno)
# 순서대로 대치해줌. 근데 매우 안 아름답다.
# 문제점 : 딕셔너리를 표현하지 못함..

'Hey 문근영, there is a 0xbadc0ffee error!'

In [7]:
'Hey %(name)s, there is a 0x%(errno)x error!' %{'name':name, 'errno':errno}

'Hey 문근영, there is a 0xbadc0ffee error!'

In [42]:
first_name = "근영"
last_name = "문"
age = 30
profession = "배우"
affiliation = "나무"
"Hello, %s %s. You are %s. You are a %s. You were a member of %s." % (first_name, last_name, age, profession, affiliation)

'Hello, 근영 문. You are 30. You are a comedian. You were a member of Monty Python.'

# “New Style” String Formatting (str.format) (Python2.2+)
근데 넘나 복잡해서 사람들이 싫어해...

In [8]:
'Hello, {}'.format(name)

'Hello, 문근영'

In [9]:
'Hey {name}, there is a 0x{errno:x} error!'.format(name=name, errno=errno)

'Hey 문근영, there is a 0xbadc0ffee error!'

In [43]:
"Hello, {}. You are {}.".format(name, age)
# 이름을 명시 안하면 순서대로 함

'Hello, 문근영. You are 30.'

In [45]:
"Hello, {1}. You are {0}.".format(age, name)

'Hello, 문근영. You are 30.'

In [47]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(name=person['name'], age=person['age'])

'Hello, Eric. You are 74.'

In [48]:
person = {'name': 'Eric', 'age': 74}
"Hello, {name}. You are {age}.".format(**person) # **person == name='Eric', age=74

'Hello, Eric. You are 74.'

In [49]:
first_name = "근영"
last_name = "문"
age = 30
profession = "배우"
affiliation = "나무"
print(("Hello, {first_name} {last_name}. You are {age}. " + 
        "You are a {profession}. You were a member of {affiliation}.") \
        .format(first_name=first_name, last_name=last_name, age=age, \
        profession=profession, affiliation=affiliation))

Hello, 근영 문. You are 30. You are a 배우. You were a member of 나무.

# String Interpolation / f-Strings (Python 3.6+) 
예전 것보다 더 간단하게 만듦

In [1]:
a = lambda x : x

In [2]:
f'{a(4)}'
# wow??

'4'

In [ ]:
str안쓰고 이걸로 문자열 생성 가능

In [6]:
def hello(age, name):
    if age < 10:
        x = '아이린 죠아'
    else:
        x = '아이린 죠오오아'
    return f'{age}살, {name}님, {x}'

In [7]:
hello(10, 'g')

'10살, g님, 아이린 죠오오아'

In [1]:
a = '근영사마'

In [3]:
def b():
    return '근영님'

In [4]:
f'{b()} 예쁘다'

'근영님 예쁘다'

In [20]:
f'Hello, {name}!'

'Hello, 문근영!'

In [50]:
F'Hello, {name}!'

'Hello, 문근영!'

In [21]:
a = 5
b = 10
f'Five plus ten is {a + b} and not {2 * (a + b)}.'

'Five plus ten is 15 and not 30.'

In [22]:
def greet(name, question):
    return f"Hello, {name}! How's it {question}?"

In [23]:
greet('Bob', 'going')

"Hello, Bob! How's it going?"

In [24]:
def greet(name, question):
    return "Hello, " + name + "! How's it " + question + "?"

In [25]:
f"Hey {name}, there's a {errno:#x} error!"

"Hey 문근영, there's a 0xbadc0ffee error!"

In [51]:
f"{2 * 37}"

'74'

In [52]:
def to_lowercase(input):
    return input.lower()

In [53]:
name = "Eric Idle"
f"{to_lowercase(name)} is funny."

'eric idle is funny.'

In [54]:
f"{name.lower()} is funny."

'eric idle is funny.'

In [55]:
class Comedian:
    def __init__(self, first_name, last_name, age):
        self.first_name = first_name
        self.last_name = last_name
        self.age = age

    def __str__(self):
        return f"{self.first_name} {self.last_name} is {self.age}."

    def __repr__(self):
        return f"{self.first_name} {self.last_name} is {self.age}. Surprise!"

In [58]:
new_comedian = Comedian("Eric", "Idle", "74")
f"{new_comedian}"
f"{new_comedian!r}"

'Eric Idle is 74.'

'Eric Idle is 74. Surprise!'

In [60]:
message = (
    f"Hi {name}. "
    "You are a {profession}. "
     "You were in {affiliation}."
)
message

'Hi Eric Idle. You are a {profession}. You were in {affiliation}.'

In [61]:
message = f"Hi {name}. " \
    f"You are a {profession}. " \
    f"You were in {affiliation}."

message

'Hi Eric Idle. You are a 배우. You were in 나무.'

In [62]:
message = f"""
     Hi {name}. 
    You are a {profession}. 
You were in {affiliation}.
"""

message

'\n     Hi Eric Idle. \n    You are a 배우. \nYou were in 나무.\n'

---

In [65]:
%%timeit 
"""name = "Eric"
    age = 74
    '%s is %s.' % (name, age)"""

7.32 ns ± 0.108 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [66]:
%%timeit 
"""name = "Eric"
    age = 74
    '{} is {}.'.format(name, age)"""

7.69 ns ± 0.377 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

In [68]:
%%timeit 
"""name = "Eric"
    age = 74
    f'{name} is {age}.'"""

7.38 ns ± 0.185 ns per loop (mean ± std. dev. of 7 runs, 100000000 loops each)

## 주의

In [72]:
f"{'Eric Idle'}"
f'{"Eric Idle"}'
f"""Eric Idle"""
f'''Eric Idle'''
f"The \"comedian\" is {name}, aged {age}."

'Eric Idle'

'Eric Idle'

'Eric Idle'

'Eric Idle'

'The "comedian" is Eric Idle, aged 30.'

In [74]:
comedian = {'name': 'Eric Idle', 'age': 74}
f"The comedian is {comedian['name']}, aged {comedian['age']}."

'The comedian is Eric Idle, aged 74.'

In [76]:
f'The comedian is {comedian['name']}, aged {comedian['age']}.'

SyntaxError: invalid syntax (<ipython-input-76-cd7d8a3db23b>, line 1)

In [78]:
f"{{74}}"
f"{{{74}}}"
f"{{{{74}}}}"

'{74}'

'{74}'

'{{74}}'

In [79]:
f"{\"Eric Idle\"}"

SyntaxError: f-string expression part cannot include a backslash (<ipython-input-79-35cb9fe0ccc1>, line 1)

In [80]:
f"Eric is {2 * 37 #Oh my!}."

SyntaxError: f-string expression part cannot include '#' (<ipython-input-80-5416628b2379>, line 1)

# Template Strings (Standard Library)

In [26]:
from string import Template
t = Template('Hey, $name!')
t.substitute(name=name)

'Hey, 문근영!'

In [27]:
templ_string = 'Hey $name, there is a $error error!'

In [28]:
Template(templ_string).substitute(name=name, error=hex(errno))

'Hey 문근영, there is a 0xbadc0ffee error!'

## http://lucumr.pocoo.org/2016/12/29/careful-with-str-format/

In [35]:
SECRET ='문근영'

class Error:
    def __init__(self):
        pass

In [36]:
user_input = '{error.__init__.__globals__[SECRET]}'

In [37]:
err = Error()
user_input.format(error=err)

'문근영'

In [38]:
user_input = '${error.__init__.__globals__[SECRET]}'

In [39]:
Template(user_input).substitute(error=err)

ValueError: Invalid placeholder in string: line 1, col 1